

        <div class="well" style="background-color: #ffffff; text-align: center;" >
            <h1>Vi som jobbar här.</h1>
            <div style="display: inline-block; margin-right: 40px;"  >
                <img src="../images/fg.jpg"  style="max-width:200px;height:auto; vertical-align:top;">
            <h3 >Frida Gunnbäck</h3>
             </div>
            <div style="display: inline-block;"  >
                <img src="../images/ag.jpg" style="max-width:200px;height:auto; vertical-align:top;">
                <h3 >Anki Gunnbäck</h3>
            </div>
        </div>

