
    <div class="panel panel-default"  >
        <div class="panel-heading" >
            <h1 >Frida Gunnbäck</h1>
        </div>
        <div class="panel-body"  style="position: relative;">
                <img src="../images/fg.jpg"  style="max-width:200px;height:auto; vertical-align:top;">
            <span>Om:</span>
        </div>
    </div>
    <div class="panel panel-default"  >
        <div class="panel-heading" >
            <h1 >Anki Gunnbäck</h1>
        </div>
        <div class="panel-body"  style="position: relative">
                <img src="../images/ag.jpg" style="max-width:200px;height:auto; vertical-align:top;">
            <span>Om:</span>

        </div>
    </div>
