<div class="col-lg-2"><img src="../images/bg.png" style="max-width:100%;height:auto;" ></div>
<div class="col-lg-4" >
    <div class="panel panel-default"  >
        <div class="panel-heading" >
            <h1 >Frida Gunnbäck</h1>
        </div>
        <div class="panel-body"  style="position: relative">
            <div class="row">
                <img src="../images/fg.jpg" style="max-width:100%;height:auto;" style="display: inline-block;">

            </div>
        </div>
    </div>
</div>
<div class="col-lg-4" >
    <div class="panel panel-default"  >
        <div class="panel-heading" >
            <h1 >Anki Gunnbäck</h1>
        </div>
        <div class="panel-body"  style="position: relative">
            <div class="row" style="position: relative">
                <img src="../images/ag.jpg" style="max-width:100%;height:auto;" style="display: inline-block;">

            </div>

        </div>
    </div>
</div>
<div class="col-lg-2"></div>
