
<h1 >Kontaktinformation</h1>

<div class="col-lg-5" >
  <div style="width: 100%;"><span style="font-weight: bold;" >Adress:</span>  Repslagaregatan 15B, 591 30 Motala</div>
  <div style="width: 100%;"><span style="font-weight: bold;" >Telefon:</span> 072-203 80 95</div>
  <div style="width: 100%;"><span style="font-weight: bold;" >Mail:</span> enkoppteab@gmail.com</div>
  <div style="width: 100%;"><span style="font-weight: bold;" ><br/></span></div>
  <div style="width: 100%;"><span style="font-weight: bold;" >Öppettider</span></div>
  <div style="width: 100%;"><span style="font-weight: bold;" >Måndag - Fredag: 10 - 18</span></div>
  <div style="width: 100%;"><span style="font-weight: bold;" >Lördag: 10 - 15</span></div>
</div>
<div class="col-lg-7" >
  <ui-gmap-google-map center="map.center" zoom="map.zoom"></ui-gmap-google-map>
</div>
