
    <div class="panel panel-default"  >
        <div class="panel-heading" >
            <h1 >Kontaktinformation</h1>
        </div>
        <div class="panel-body"  style="position: relative">

                <div style=" width: 100%;"><span style="font-weight: bold;" >Adress:</span> Repslagaregatan 15, Motala, <span style="font-weight: bold;" >Telefon:</span> 072-203 80 95, <span style="font-weight: bold;" >Mail:</span> enkoppteab@gmail.com</div>


                    <ui-gmap-google-map center="map.center" zoom="map.zoom"></ui-gmap-google-map>

        </div>
    </div>
