<div class="col-lg-12">
    <h1></h1>

    <div class="col-lg-8">
    <p  style="margin-bottom: 40px;" >Bara ett stenkast från startområdet för Vätternrundan ligger vår tebutik, med ett utbud på runt 80 tesorter men också kaffe för den som föredrar det. Här har ni har möjlighet att sitta ner en stund och ta en kopp te eller ta koppen med er för att se på de tävlande. Vill ni fira era nära och kära när de kommer i mål har vi även färdiga presentförpackningar med olika godsaker, eller så hjälper vi er att plocka ihop något passande. </p>

        <img src="../images/erbjudand3.jpg" alt="..." style="max-width:220px; width:100%; height:auto;"></img>
         <p>Repslagaregatan 15 b</p>
         <p>591 30 Motala </p>
    </div>
    <div class="col-lg-4">
        <ul style="list-style: none; padding: 0;">
            <li style="margin-bottom: 10px">
                 <img src="../images/erbjudand1.jpg" alt="..." style="max-width:220px; width:100%; height:auto;"></img>
            </li>
            <li>
                <img src="../images/erbjudand2.jpg" alt="..." style="max-width:220px; width:100%; height:auto;"></img>
            </li>
        </ul>
    </div>
</div>
