

<div class="panel panel-default"  >
    <div class="panel-heading" >
        <h1>Snart öppnar vi en tebutik i centrala Motala på Repslagaregatan 15.</h1>
    </div>
    <div class="panel-body"  style="position: relative">
        <p>Vi kommer att sälja teer i lösvikt samt kaffe för den som föredrar det. Det kommer även finnas choklad och annan konfektyr samt kex och marmelad. Ni kommer även ha möjligheten att slå er ner och njuta av en kopp te i vår lokal eller om du har lite bråttom går det även bra att ta koppen med sig.</p>

        <p>Ni får gärna följa våra framsteg via facebook på <a href="https://www.facebook.com/pages/En-kopp-te/488928147912083" target="_blank">En kopp te</a>, eller instagram på enkoppteab. Där kommer vi även att ha tävlingar där man har chansen att vinna teer så snart vi har öppnat butiken. Så gå in och gilla så har du chansen att vinna.</p>

        <p>Välkomna önskar Frida och Anki Gunnbäck</p>
    </div>
</div>

