<div class="col-lg-12">
  <h1>Tebutiken i centrala Motala på Repslagaregatan 15B.</h1>
  
  <div class="col-lg-8" style="">
    <p>I vår butik hittar du ca 80 sorters lösviktste i både svart, grönt, rött, blått och vitt. Är du osäker på vad du vill ha så hjälper vi dig att hitta något som passar. Vi har även kaffe för den som föredrar det, där finns det att välja mellan färdigmalet eller hela bönor så att man själv kan mala sina bönor och få riktigt färskt kaffe. Det finns även choklad och annan konfektyr samt kex och marmelad. Ni har möjlighet att slå er ner och njuta av en kopp te i vår lokal eller om du har lite bråttom går det bra att ta koppen med sig.</p>
    
    <p>Ni får gärna följa oss via facebook på <i>En kopp te</i>, eller Instagram
&nbsp;på <i>enkoppteab</i>. Där har vi tävlingar där man har chansen att vinna fina priser, samt uppdateringar på nyheter i butiken.</p>
    
    <p>Välkomna önskar Frida och Anki Gunnbäck</p>
  </div>
  <div class="col-lg-4">
    <div id="carousel_home" class="carousel slide" data-ride="carousel" data-interval="false" data-pause="hover"  style="vertical-align: top; ">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel_home" data-slide-to="0" class="active"></li>
        <li data-target="#carousel_home" data-slide-to="1"></li>
        <li data-target="#carousel_home" data-slide-to="2"></li>
        <li data-target="#carousel_home" data-slide-to="3"></li>
        <li data-target="#carousel_home" data-slide-to="4"></li>
      </ol>
      
      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="../images/home6.jpg" alt="..." style="max-width:220px; width:100%; height:auto;">Välkommen in</img>
        </div>
        <div class="item">
          <img src="../images/home4.jpg" alt="..." style="max-width:220px; width:100%; height:auto;">Skorpor</img>
        </div>
        <div class="item">
          <img src="../images/home3.jpg" alt="..." style="max-width:220px; width:100%; height:auto;">Massor av te</img>
        </div>
        <div class="item">
          <img src="../images/home2.jpg" alt="..." style="max-width:220px; width:100%; height:auto;">Fina koppar</img>
        </div>
        <div class="item">
          <img src="../images/home1.jpg" alt="..." style="max-width:220px; width:100%; height:auto;">Gott med te</img>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-lg-12">
  <h3>Receptet på vårt populära iste</h3>
  <div class="col-lg-4" style="">
    <img src="../images/iste.jpg" alt="..." style="max-width:220px; width:100%; height:auto;"></img>
  </div>
  <div class="col-lg-8" style="">
    1 l vatten<br/>
    1/4-1/2 dl te<br/>
    1/2 dl rårörsocker<br/>
    1/2 dl pressad citron<br/>
    Koka upp vatten och häll i tebladen. Låt dra ca 4 min. Sila bort bladen och blanda ner socker och citron efter smak. Kyl och servera med is och ev myntablad.<br/>
    Till vårt iste använde vi rooibos syrliga Ginger eller Grön frisk och het. Prova gärna ditt egna fvoritte!
  </div>
</div>
