<div class="col-lg-12">
  <div class="col-lg-6 ">
    <h1>Presenttips</h1>
    <br/><br/>
  </div>
  <div class="col-lg-6 ">
  </div>
</div>

<div class="col-lg-12" style="">
  <div class="col-lg-6">
    <h2><p>Här kommer lite tips och idéer på presenter från oss på En Kopp Te. <br/><br/>Vi har några förslag i olika prisklasser men plockar givetvis ihop och slår in i fina cellofanpaket efter dina önskemål.<br/><br/>Välkommen in till oss i butiken!</p></h2>
  </div>
  <div class="col-lg-6">
    <img src="../images/gift_9.jpg" alt="..." style="width:100%; height:auto;"><H4>För kaffedrickaren, bryggkaffe blandat på Arabica och Robusta bönor. Härlig mörk ren choklad och 2 hasselnötstryfflar. 129kr</H4></img>
  </div>
</div>
<div class="col-lg-12">
  <br/>
    <p></p>
</div>

<div class="col-lg-12">
  <br/><br/>
</div>

<div class="col-lg-12" style="">
  <div class="col-lg-6">
    <img src="../images/gift_8.jpg" alt="..." style="width:100%; height:auto;"><H4>228kr</H4></img>
  </div>
  <div class="col-lg-6">
    <img src="../images/gift_3.jpg" alt="..." style="width:100%; height:auto;"><H4>250kr</H4></img>
  </div>
  <div class="col-lg-6">
    <H2><p>En mysig testund med goda skorpor, kex och marmelad. Finns i olika smaker. </p></H2>
  </div>
</div>
<div class="col-lg-12">
  <br/><br/>
</div>

<div class="col-lg-12" style="">
  <div class="col-lg-6" style="">
    <br/><br/><br/><br/>
    <H2><p>Vilken tur att det finns änglar här i världen!</p></H2>
  </div>
  <div class="col-lg-6" style="">
    <img src="../images/gift_1.jpg" alt="..." style="width:100%; height:auto;"><H4>Detta paket, 239kr</H4></img>
  </div>
</div>

<div class="col-lg-12">
  <br/><br/>
</div>

<div class="col-lg-12">
  <div class="col-lg-6" style="">
    <img src="../images/gift_2.jpg" alt="..." style="width:100%; height:auto;"><H4>248kr</H4></img>
    </div>
  <div class="col-lg-6" style="">
    <br/>
    <p><H2>Godisfrossa.</H2></p>
  </div>
</div>

<div class="col-lg-12">
  <br/><br/>
</div>

<div class="col-lg-12">
  <div class="col-lg-6" style="">
    <img src="../images/gift_4.jpg" alt="..." style="width:100%; height:auto;"><H4>310kr</H4></img>
    </div>
  <div class="col-lg-6" style="">
    <br/>
    <p><H2>Till kaffeälskaren. <br/>Fairtrade och ekologiska kaffebönor. Praktisk burk att förvara bönorna i. Att avnjuta kaffet tillsammans med lite fudge och choklad är inte helt fel.</H2></p>
  </div>
</div>



