<div class="col-lg-12">
  <div class="col-lg-6 ">
    <h3>Fynd</h3>
  </div>
  <div class="col-lg-6 ">
  </div>
</div>

<div class="col-lg-12">
  <div class="col-lg-5">
    <p>Nu är det dags att göra plats för höstens nyheter och då måste det gamla bort. 50% på dessa söta koppar. Finns i både blå och rosa.</p>
  </div>
  <div class="col-lg-7">
    <div class="col-lg-6" style="">
      <img src="../images/bargain1.jpg" alt="..." style="width:100%; height:auto;"></img>
    </div>
    <div class="col-lg-6" style="">
      <img src="../images/bargain2.jpg" alt="..." style="width:100%; height:auto;"></img>
    </div>
  </div>
</div>

<div class="col-lg-12">
  <img src="../images/teacupline.png" alt="..." style="width:100%; height:auto;"></img>
</div>

<div class="col-lg-12">
  <div class="col-lg-6 ">
    <h3>Formex Augusti 2015</h3>
  </div>
  <div class="col-lg-6 ">
  </div>
</div>

<div class="col-lg-12">
  <div class="col-lg-5">
    <p>Vi hittade Emma som bakar våra underbart goda skorpor från Emmas Skafferi på Formexmässan.</p>
  </div>
  <div class="col-lg-7">
      <img src="../images/formex.jpg" alt="..." style="width:100%; height:auto;"></img>
  </div>
</div>

<div class="col-lg-12">
  <img src="../images/teacupline.png" alt="..." style="width:100%; height:auto;"></img>
</div>

<div class="col-lg-12">
  <div class="col-lg-6 ">
    <h3>Receptet på vårt populära iste</h3>
  </div>
  <div class="col-lg-6 ">
  </div>
</div>

<div class="col-lg-12">
  <div class="col-lg-2" style="">
    <img src="../images/iste.jpg" alt="..." style="max-width:220px; width:100%; height:auto;"></img>
  </div>
  <div class="col-lg-4" style="">
    1 l vatten<br/>
    1/4-1/2 dl te<br/>
    1/2 dl rårörsocker<br/>
    1/2 dl pressad citron<br/>
    Koka upp vatten och häll i tebladen. Låt dra ca 4 min. Sila bort bladen och blanda ner socker och citron efter smak. Kyl och servera med is och ev myntablad.<br/>
    Till vårt iste använde vi rooibos syrliga Ginger eller Grön frisk och het. Prova gärna ditt egna favoritte!
  </div>
  <div class="col-lg-6" style="">
  </div>
</div>
