<div class="col-lg-12">
  <div class="col-lg-6 ">
    <h3>Teceremoni</h3>
  </div>
  <div class="col-lg-6 ">
  </div>
</div>

<div class="col-lg-12" style="">
  <div class="col-lg-5">
    <img src="../images/tea_ceremoni_1.jpg" alt="..." style="width:100%; height:auto;"></img>
  </div>
  <div class="col-lg-5">
    <p>Den 7/11 hade vi samlat ett gäng te-entusiaster för en teceremoni i butiken. Med oss fanns Gunnel Hillås som är medlem i det Japanska thesällskapet. Gunnel vispade te till var och en av oss och delade under tiden med sig av sin digra kunskap inom ämnet. Den form av Chado (teets väg) som vi presenterades för kallas för Ryakubon (bricka) och är en mer informell form av teceremoni. Vi fick även en snabbkurs i artighet då det som en del av ceremonin ingår att en ber om ursäkt till personen som sitter till vänster att en äter och dricker före denne, och berättar för personen till höger att en nu ska dricka samma te som denne. Det blev till slut en hel del fraser att hålla reda på men som tur var så påpekade Gunnel att gästen aldrig kan ha fel så det gjorde inte så mycket om en glömde både ett och annat tack och förlåt.</p>
  </div>
  <div class="col-lg-7">
  </div>
</div>
<div class="col-lg-12">
  <br/>
    <p></p>
</div>

<div class="col-lg-12" style="">
  <div class="col-lg-7">
    <img src="../images/tea_ceremoni_2.jpg" alt="..." style="width:100%; height:auto;"></img>
  </div>
  <div class="col-lg-5">
    <img src="../images/tea_ceremoni_3.jpg" alt="..." style="width:100%; height:auto;"></img>
  </div>
</div>
<div class="col-lg-12">
  <br/>
    <p>Till teet serverades en kaka gjord på bönor som kokats med socker. Inget mina västerländska smaklökar är van vid men det var sannerligen sött, vilket var en välkommen kontrast till det beska teet. Det te som serverades var ett matcha-te där bladen på te-busken ångats och sedan malts till ett pulver. Pulvret vispas sedan upp i varmt vatten en kopp i taget.</p>
</div>

<div class="col-lg-12" style="">
  <div class="col-lg-6">
    <img src="../images/tea_ceremoni_4.jpg" alt="..." style="width:100%; height:auto;"></img>
  </div>
  <div class="col-lg-3">
    <img src="../images/tea_ceremoni_5.jpg" alt="..." style="width:100%; height:auto;"></img>
  </div>
  <div class="col-lg-3">
  </div>
</div>
<div class="col-lg-12">
  <br/>
    <p>En utgångspunkt för teceremonin är Ichigo-Ichie, vilket betyder att det är ett unikt tillfälle och att det aldrig kommer igen. Det manar deltagarna att vara i nuet och stämningen i butiken var väldigt lugn och harmonisk. Ett välbehövligt meditativt inslag i en för många av oss hektisk vardag.</p>
</div>

<div class="col-lg-12" style="">
  <div class="col-lg-5">
  </div>
  <div class="col-lg-2">
    <img src="../images/tea_ceremoni_6.jpg" alt="..." style="width:100%; height:auto;"></img>
  </div>
  <div class="col-lg-5">
  </div>
</div>
<div class="col-lg-12">
  <br/>
    <p><a href="http://www.mvt.se/nyheter/motala/japansk-teceremoni-mitt-i-motala-12210845.aspx">Länk till artikel i MVT om teceremonin.</a></p>
</div>








<div class="col-lg-12">
  <img src="../images/teacupline.png" alt="..." style="width:100%; height:auto;"></img>
</div>

<div class="col-lg-12">
  <div class="col-lg-6 ">
    <h3>Formex Augusti 2015</h3>
  </div>
  <div class="col-lg-6 ">
  </div>
</div>

<div class="col-lg-12">
  <div class="col-lg-5">
    <p>Vi hittade Emma som bakar våra underbart goda skorpor från Emmas Skafferi på Formexmässan.</p>
  </div>
  <div class="col-lg-7">
      <img src="../images/formex.jpg" alt="..." style="width:100%; height:auto;"></img>
  </div>
</div>

<div class="col-lg-12">
  <img src="../images/teacupline.png" alt="..." style="width:100%; height:auto;"></img>
</div>

<div class="col-lg-12">
  <div class="col-lg-6 ">
    <h3>Receptet på vårt populära iste</h3>
  </div>
  <div class="col-lg-6 ">
  </div>
</div>

<div class="col-lg-12">
  <div class="col-lg-2" style="">
    <img src="../images/iste.jpg" alt="..." style="max-width:220px; width:100%; height:auto;"></img>
  </div>
  <div class="col-lg-4" style="">
    1 l vatten<br/>
    1/4-1/2 dl te<br/>
    1/2 dl rårörsocker<br/>
    1/2 dl pressad citron<br/>
    Koka upp vatten och häll i tebladen. Låt dra ca 4 min. Sila bort bladen och blanda ner socker och citron efter smak. Kyl och servera med is och ev myntablad.<br/>
    Till vårt iste använde vi rooibos syrliga Ginger eller Grön frisk och het. Prova gärna ditt egna favoritte!
  </div>
  <div class="col-lg-6" style="">
  </div>
</div>
