
body.home{

}
.angular-google-map-container { height: 400px; }
.bg-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgba(0,0,0,0.7); /*dim the background*/
}

.cropArea {
    background: #E4E4E4;
    overflow: hidden;
    width: 100%;
    height: 200px;
}

a.link{
    color: #9f52a4 ;
}